/* *{
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
} */


/* Card Styles */

.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card img{
    width: 280px;
    height: 360px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.card-title{
    position: absolute;
    margin-top: 170px;
    /* margin-top: 190px; */
    /* margin-left: 10px; */
    right: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
    color: white;
    text-align: center;
}

.card:hover{
    transform: translateY(20px);
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(81, 85, 84, 0.5), rgb(189, 190, 186));
    z-index: 2;
    opacity: 0;
    transition: 0.5s all;
}

.card:hover:before{
    opacity: 1;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1:hover:before{
    margin: 0;
    opacity: 1;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 8px;
}

.card:hover .card-title{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


/* Modal Styles */

.modal-body{
    padding:0;
}

.modal-body img{
    width:-webkit-fill-available;
}

.modal-body .event-desc {
    padding: 1rem 1.3rem;
}

.modal-content{
    border:0;
    border-radius: 1rem;
}


/* Container Styles */

#main-container {
    margin-bottom: 1.875rem;
    padding: 0 40px;
}

#main-container .wrapper {
    margin: 1.875rem 0;
}